<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704182290352-eub67tlm7umc8oar1ed8eo7tidl57cv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704182290352-eub67tlm7umc8oar1ed8eo7tidl57cv4</string>
	<key>API_KEY</key>
	<string>AIzaSyAAHo515RF6JAvO-tFayH3WQoMOnpf5UfI</string>
	<key>GCM_SENDER_ID</key>
	<string>704182290352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home-made.HomeMade</string>
	<key>PROJECT_ID</key>
	<string>homemade-7b4a4</string>
	<key>STORAGE_BUCKET</key>
	<string>homemade-7b4a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704182290352:ios:35498201e6ba5d67daf875</string>
</dict>
</plist>